
.ui-widget.ui-widget-content {
  border: none;
  background: #FFFFFF;
  box-shadow: 0px 1px 12px #D5D8D9;
  border-radius: 5px;
  padding: 30px 25px 30px;
}

.ui-widget-header {
  border: none;
  background: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #122025;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{
  width: 35px;
  height: 35px;
  top: 140px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 1px 12px #D5D8D9;
  transition: all .2s ease;
}

.ui-datepicker .ui-datepicker-next{
  right: -57px;

  span{
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.71436 2.14307L6.72075 7.18371L1.71436 12.2244' stroke='%23616781' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
  }
}
.ui-datepicker .ui-datepicker-prev{
  left: -57px;
    span{
      background-image: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28564 2.14307L2.27925 7.18371L7.28564 12.2244' stroke='%23616781' stroke-width='2' stroke-linecap='square'/%3E%3C/svg%3E%0A");
    }
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span{
  width: 5px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
}

.ui-datepicker .ui-datepicker-prev:hover, .ui-datepicker .ui-datepicker-next:hover{
  transform: scale(1.1) translateY(-50%);
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus{
  border: none;
}

.ui-datepicker-multi .ui-datepicker-group {
  table {
    thead {
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      text-align: center;

      span {
        color: #5A686D;
      }
    }
  }
}

*.ui-datepicker{
  box-sizing: content-box;
}

.ui-datepicker td {
  padding: 0;
}

.ui-datepicker-multi-2 .ui-datepicker-group{
  margin: 0 15px;
  width: calc(50% - 30px);
}

.ui-datepicker-multi .ui-datepicker-group table {
  width: 90%;
  margin: 0;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after{
  box-sizing: border-box;
}

.ui-datepicker {
  z-index: 999 !important;
  margin-top: 40px;
  margin-left: -100px;

  &:before {
    content: '';
    display: block;
    position: absolute; /* Абсолютное позиционирование */
    left: 100px;
    top: 0;
    transform: translateY(-100%);
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }
  .selected-end {
    &.selected-start {
      a {
        &:before {
          display: none;
        }
      }
    }

    a {
      background: #8A0502;
      font-weight: bold;
      font-size: 14px;
      line-height: 34px;
      color: #FFFFFF;
      border-radius: 50%;
      position: relative;

      &:before {
        position: absolute;
        width: 50%;
        height: 100%;
        left: 0;
        top: 0;
        background: #E6ECF2;
        content: '';
        z-index: -1;
      }
    }
  }

  .first-of-month{
    &.selected{
      &.selected-start,
      &.selected-end{
        a{
          background: #8A0502;
          font-weight: bold;
          font-size: 14px;
          line-height: 34px;
          color: #FFFFFF;
          border-radius: 50%;
          position: relative;

          &:before{
            background: linear-gradient(90deg, #fff 0%, #EDF1F6 55.65%, #E6ECF2 100%);
          }
        }
      }
      a{
        background: linear-gradient(90deg, #fff 0%, #EDF1F6 55.65%, #E6ECF2 100%);
      }
    }
  }

  .ui-datepicker-today{
    a{
      font-weight: 600;
      color: #122025;
    }
  }

  .last-of-month{
    &.selected{
      &.selected-start,
      &.selected-end{
        a{
          background: #8A0502;
          font-weight: bold;
          font-size: 14px;
          line-height: 34px;
          color: #FFFFFF;
          border-radius: 50%;
          position: relative;

          &:after{
            background: linear-gradient(-90deg, #fff 0%, #EDF1F6 55.65%, #E6ECF2 100%);
          }
        }
      }
      a{
        background: linear-gradient(-90deg, #fff 0%, #EDF1F6 55.65%, #E6ECF2 100%);
      }
    }
  }

  .selected-start {
    &.selected-end {
      a {
        &:after {
          display: none;
        }
      }
    }

    a {
      background: #8A0502;
      font-weight: bold;
      font-size: 14px;
      line-height: 34px;
      color: #FFFFFF;
      border-radius: 50%;
      position: relative;

      &:after {
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0;
        top: 0;
        background: #E6ECF2;
        content: '';
        z-index: -1;
      }
    }
  }

  @media (max-width: 1196px) {
    margin-left: 0;
  }

  @media (max-width: 660px) {
    width: 275px !important;
    &:before {
      left: 10px;
    }
    .ui-datepicker-group{
      width: calc(100% - 30px);
      height: 302px;
    }

    .ui-datepicker-prev {
      top: 300px;
    }
    .ui-datepicker-next {
      top: 0;

    }
  }

  @media (max-width: 380px) {
    padding: 20px 10px 20px!important;

    .ui-datepicker-prev {
      left: -30px;
    }
    .ui-datepicker-next {
      right: -30px;
    }
  }
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  font-size: 14px;
  line-height: 34px;
  width: 34px;
  padding: 0;
  margin: 3px 0;
  text-align: center;
  color: #9EACB2;
  border: none;
  background: none;
  font-weight: normal;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background: #E6ECF2;
}