%gilroy-l{
	font-family: 'Gilroy';
    font-weight: 300;
	font-style: normal;

 }

 %gilroy-r{
	font-family: 'Gilroy';
    font-weight: 400;
    font-style: normal;
 }

 
 %gilroy-m{
	font-family: 'Gilroy';
    font-weight: 500;
    font-style: normal;
 }


 
 %gilroy-sm{
	font-family: 'Gilroy';
    font-weight: 600;
    font-style: normal;
 }


 
 %gilroy-b{
	font-family: 'Gilroy';
    font-weight: 700;
    font-style: normal;
 }

 %gilroy-bb{
	font-family: 'Gilroy';
    font-weight: 900;
    font-style: normal;
 }

 %Poppins-r{
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
 }

